<ion-view >
  <ion-content class="auth" scroll="false" >
   <div class="top-content ">
     <div class="center">
       <img src="img/logo.png" >
       <h1 class="logo">TICKETCLOUD</h1>
     </div>
   </div>
   <div class="buttom-content">
      <div class="center">
         <label class="item item-input">
          <i class="icon ion-email placeholder-icon"></i>
          <input ng-model="form.correo" type="email" placeholder="Correo" autocorrect="off" >
        </label>
        <label class="item item-input">
         <i class="icon ion-locked placeholder-icon"></i>
         <input ng-model="form.pass" type="password" placeholder="Contraseña" autocorrect="off" >
        </label> 

        <p class="error" ng-if="error">{{mensaje}}</p>
        <button class="button button-full button-green" ng-click="login()" ng-disabled="!form.correo || !form.pass">Ingresar</button>
        <a class="button button-full button-registro"  href="#/auth/signup">Registarse</a>

        <a href="#/auth/reset" class="link">¿Olvido su contraseña?</a>
      </div>
   </div>
  </ion-content>
</ion-view>
