<ion-view >
  <ion-content class="auth" scroll="false">
   <div class="top-content">
     <div class="center">
       <img src="img/logo.png" >
       <h1 class="logo">TICKETCLOUD</h1>
     </div>
   </div>
   <div class="buttom-content">
      <div class="center">
      	  
         <label class="item item-input">
          <i class="icon ion-email placeholder-icon"></i>
          <input ng-model="form.correo" type="email" placeholder="Correo" autocorrect="off" >
        </label>
        <p class="exito">Indique su correo electronico para reiniciar su contraseña.</p>
    	<p class="error" ng-if="error">Su correo no se encuentra registrado.</p>
        <p class="exito" ng-if="exito">Se ha enviado el correo satisfactoriamente.</p>   
        <button class="button button-full button-green" ng-click="reset()" ng-disabled="!form.correo">Reinicio de contraseña</button>
      </div>
   </div>
  </ion-content>
</ion-view>
