<ion-view title="Inicio">
  

  <ion-content class="padding">
    <div class="row form-heading">
      <div class="col">
        <h1 class="form-title">Bienvenido {{user.perfil.nombre}} {{user.perfil.apellido}}</h1>
        <h3 class="form-sub-title">Para crear un nuevo ticket ingrese los datos solicitados</h3>
      </div>
    </div>

 
    <div class="row form-wrapper">
      <div class="col">
        <form name="login_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="email" placeholder="Correo" name="username" ng-model="user.correo" required>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Constraseña" name="password" ng-model="user.password" required show-hide-input>
            </label>
            <button type="submit" class="login button button-block" ng-click="showLogOutMenu()" ng-disabled="login_form.$invalid">
              Iniciar sesión
            </button>
            <p ng-show="error" class="message error">{{error}}</p>
          </div>
        </form>
      </div>
    </div>
 
  </ion-content>
</ion-view>