<ion-view title="Crear ticket" class="auth-view">
  

  <ion-content class="padding">
    <div class="row form-heading">
      <div class="col">

        <h1 class="form-title">Para crear un nuevo ticket ingrese los datos solicitados</h1>
      </div>

    </div>

 
    <div class="row form-wrapper">
      <div class="col">
        <form name="login_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Asunto"  ng-model="ticket.asunto" required>
            </label>
             <label class="item item-input">
              <input type="text" placeholder="Ubicacion - Opcional" ng-model="ticket.ubicacion">
            </label>
            <label class="item item-input">
              <textarea  style="resize:none" placeholder="Descripcion del problema" ng-model="ticket.problema" required msd-elastic="\n"></textarea>
            </label>
            <button type="submit" class="login button button-block" ng-click="newTicket()"  ng-disabled="login_form.$invalid">
              Enviar Ticket
            </button>
            <p ng-show="error" class="message error">{{error}}</p>
          </div>
        </form>
      </div>
    </div>
 
  </ion-content>
</ion-view>