
<ion-nav-bar class="bar-dark" >
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
          <button class="button button-icon icon ion-android-more-vertical" ng-click="openPopover($event)" >
          </button>
      </ion-nav-buttons> 
</ion-nav-bar>

<ion-tabs class="tabs-top tabs-background-dark tabs-color-light">
  <ion-tab title="Ticket"  href="#/tab/ticket">
    <ion-nav-view name="tab-ticket"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Estado" href="#/tab/estado">
    <ion-nav-view name="tab-estado"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Perfil"  href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>


</ion-tabs>

<script id="popover.html" type="text/ng-template" scroll="false" >
      <ion-popover-view class="fit">
        <ion-content>
          <div class="list">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Ayuda
            </a>
            <a class="item" ng-click="showLogOutMenu()" >
              Cerrar sesion
            </a> 
           

          </div>
        </ion-content>
      </ion-popover-view>
    </script>