<ion-modal-view class="auth-view modal-view">
	<ion-header-bar>
		<h1 class="title modal-title">Recuperar contraseña</h1>
		<a class="button button-clear" ng-click="forgot_password_modal.hide()">Cancelar</a>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="row form-heading">
      <div class="col">
				<h3 class="form-sub-title">Ingrese el correo de su cuenta</h3>
			</div>
		</div>
		<div class="row form-wrapper">
      <div class="col">
				<form name="recover_password_form" class="" novalidate>
					<div class="form-fields-outer list list-inset">
						<label class="item item-input">
							<input type="email" placeholder="Email" name="email" ng-model="user.correoReset" required>
						</label>
						<button type="submit" class="recover-password button button-block" ng-click="requestNewPassword()" ng-disabled="recover_password_form.$invalid">
							Recuperar
						</button>
						<p ng-show="error" class="message error">{{error}}</p>
						<p ng-show="message" class="message">{{message}}</p>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
