<ion-modal-view class="modal-view">
	<ion-header-bar>
		<h1 class="title modal-title">Terms of Service</h1>
		<a class="button button-clear" ng-click="terms_of_service_modal.hide()"><span class="icon ion-close"></span></a>
	</ion-header-bar>
	<ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="terms-of-service">
    			<p>Last modified: April 14, 2014</p>
    			<h4 class="title">Bienvenido a TicketCloud!</h4>
    			<p>Si está viendo estos Términos, nuestra Política de privacidad o cualquier otro material en un idioma que no sea inglés, advirtimos que se proporciona la traducción sólo para fines prácticos. Su relación con Kickstarter aún está regida por el texto original en inglés de estos documentos y conforme la ley de los Estados Unidos.</p>
    		</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
